@charset "utf-8";

/* TinyMCE Advanced Styles */
.purple { color: #656a94 !important;}

.purple-title {
	font-size: 20px;
	color: #656a94 !important;
}

.black { color: #11132c !important;}

.black-title {
	font-size: 20px;
	color: #11132c !important;
}




